<h2>
  Your <strong>Right to Know</strong>
</h2>
<p>Every citizen has the right to access information held by public bodies. <strong>By law, they have to respond</strong>.</p>
<p><%= link_to "Find out more about the Official Information Act.", help_about_path %></p>
