The Ombudsman is reviewing OIA practices.  Consider <a href='http://www.ombudsman.parliament.nz/newsroom/item/review-of-oia-practices-surveys-of-requesters-and-government-workers'>completing their surveys</a> to tell them of your experiences.
