#banner {
    background-repeat: no-repeat;
    background-position: center top;
    height: 100px;
}

#banner_inner a#logo {
    top: 25px;
    left: 15px;
}

#topnav {
    font-family:'DeliciousRoman', Arial, sans-serif;
    top: 60px;
}

#wrapper {
    padding-top: 100px;
}

body.front {
    background:url(../images/home-grad.png) repeat-x 0 125px;
}

a.link_button_green:hover {
    text-decoration: none;
}
