@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body {
  color: #444;
}

a, a:visited {
  text-decoration: none;
  color: #27ae60;
  &:hover {
    text-decoration: underline;
  }
}

#banner {
  background-repeat:no-repeat;
  background-position:center top;
  background-color: #27ae60;
  padding: 70px 15px 0;
  #banner_content {
    max-width: 1200px;
    margin-bottom: 10px;
  }
  #navigation {
    border-bottom: none;
    max-width: 1200px;
    a {
      color: #ecf0f1;
      background-color: #2ecc71;
      padding: 20px;
      display: block;
      &:hover {
        color: #bdc3c7;
      }
    }
  }
}

a#logo img {
  height: 35px;
}

#banner #logo_wrapper {
  padding: 0;
  margin-bottom: 25px;
}

h1, h2, h3, h4, #topnav {
  font-family: 'PT Sans', sans-serif;
}


#logged_in_bar {
  color: #444;
}

#logged_in_bar a, #logged_in_bar a:visited {
  color: #92B3FF;
}

p.subtitle {
  font-family: 'PT Sans', sans-serif;
  color: #2ecc71;
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
  color: #2ecc71;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.request_listing span.desc {
  background: image-url('quote-marks.png') no-repeat;
  color: #444;
}

.feed_link a,.act_link a,#header_right > a {
  color: #2ecc71;
}

#request_form label,label.form_label,span#to_public_body {
  color: #2ecc71;
}

span#to_public_body {
  font-family: 'PT Sans', sans-serif;
}

#middle_strip {
  color: #2c3e50;
}

#stepwise_make_request {
  background-color: #d0d0d0;
  background:image-url('stripes.png');
  border:1px solid #DEBEDD;
  font-family: 'PT Sans', sans-serif;
  color: #2ecc71;
}

div.comment_in_request {
  background:image-url('stripes-70-light2.png');
  border-color: #5F5F5F;
  border-style:dotted;
  border-width:1px;
}

#request_form label,label.form_label {
font-family: 'PT Sans', sans-serif;
}

#navigation_search input[type=text] {
 border-color: #BE7DBC;
}


form input[type=submit],a.link_button_green,a.link_button_green_large {
  font-family: 'PT Sans', sans-serif;
}

div.frontpage-box {
  background:image-url('stripes.png');
  border: 1px solid #DEBEDD;
  font-family: 'PT Sans', sans-serif;
  color: #2ecc71;
}


div.correspondence, div.comment_in_request {
background:image-url('stripes-70.png');
}

div.outgoing.correspondence {
  background: image-url('stripes-70-light.png');
}

#frontpage_splash #left_column {
  float: left;
  padding: 50px 0;
  margin: 15px 0px;
}

#frontpage_splash #right_column {
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  float: left;
  margin-top: 30px;
}

#frontpage_search_box {
  line-height: 1.5em;
  margin: 15px 0 40px;
  text-align: right;
}

#frontpage_splash {
  color: #ecf0f1;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  a {
    color: #fff;
  }
}

#frontpage_splash h1 {
  font-family: 'PT Sans', sans-serif;
  font-size:39px;
  color: #ecf0f1;
  font-weight:400;
  margin: 0 30px 30px;
  line-height: 1.25em;
}

#frontpage_splash h1 strong {
  font-family: 'PT Sans', sans-serif;
  font-size:54px;
  color: #ffffff;
  font-weight:400;
  padding-top: 10px;
  display: block;
}

#frontpage_splash h1 span {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  color: #ecf0f1;
}

#frontpage_splash h2 {
  font-size: 26px;
  font-weight: 400;
  color: #ecf0f1;
  font-family: 'PT Sans', sans-serif;
}

#frontpage_splash h2 strong {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.25em;
}

#frontpage_search_box h2 strong {
  font-size: 48px;
}

#frontpage_splash h2 span {
  color: #ecf0f1;
  font-style: italic;
  font-size: 19px;
  font-family: 'PT Sans', sans-serif;
}


#ui-datepicker-div.ui-widget {
  font-family: 'PT Sans', sans-serif;
  color: #2c3e50;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
  color: #2c3e50;
  font-family: 'PT Sans', sans-serif;
}

#ui-datepicker-div .ui-state-default:hover {
  background: #DEB4D8;
  color: #FFF;
}

#ui-datepicker-div .ui-state-active {
  background: #D093C7;
  color: #FFF;
}

#other-country-notice {
  background: #2c3e50;
  color: #FFF;
}

p.public-body-name-prefix {
  color: #DEB4D8;
}

#other-country-notice a {
  color: #FFF;
}


#link_box {
  position: absolute;
  text-align: left;
  background-color: #FFF;
  z-index: 999;
  opacity: 0.9px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #2c3e50;
  display: none;
  padding: 5px;
}

#link_box .close-button {
  background-color: #2c3e50;
  margin-left:15px;
  padding:0;
}

div.correspondence p.preview_subject {
  font-family: 'PT Sans', sans-serif;
  color: #2ecc71;
}

div.correspondence p.preview_subject strong {
  color: #2ecc71;
}

div.controller_help h1 a,#logged_in_bar a,#logged_in_bar a:visited,#stepwise_make_request strong {
  color: #2c3e50;
}

.request_listing span.desc {
  background:image-url('quote-marks.png') no-repeat;
}

#frontpage_examples {
  max-width: 1200px;
  margin: auto;
}

#frontpage_examples .excerpt {
  background:image-url('quote-marks.png') no-repeat;
}

#wrapper {
  max-width: 1200px;
}

#content {
  padding-left: 0;
  padding-right: 0;
}

#frontpage_splash {
  background: #2ECC71;
}

#frontpage_splash .container {
  max-width: 1200px;
  margin: auto;
}

#navigation_search input[type=text] {
  border-color: #e67e22;
}

input[type=submit], button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 5px 10px;
  display: inline-block;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #e67e22;
  color: #fff;
  box-shadow: 0 6px #d35400;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 4px #d35400;
    top: 2px;
  }
}

input[type=submit]:after, button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.link_button_green_large, .link_button_green_large:visited {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #e67e22;
  color: #fff;
  box-shadow: 0 6px #d35400;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 4px #d35400;
    top: 2px;
    text-decoration: none;
  }
  &:active {
    box-shadow: 0 0 #d35400;
    top: 6px;
  }
}

.link_button_green_large:after{
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#frontpage_splash .nzherald a {
  color: #fff;
}

.nzherald {
  text-align: center;
}

img.sponsor {
  height: 20px
}

#frontpage_examples ul li {
  margin-bottom: 5px;
}

#logged_in_bar #logged_in_links {
  top: 0;
  position: absolute;
  right: 20px;
  margin-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  a {
    font-weight: normal;
    color: #ecf0f1;
    background-color: #2ecc71;
    padding: 20px;
    display: block;
  }
}

li#navigation_search {
  display: none;
}

#frontpage_splash #right_column input[type=text] {
  width: 60%;
  margin: 10px 0 0 0;
}

.request_listing span.desc {
  padding: 0 40px;
  min-height: 30px;
}

.footer a#logo {
  display: none;
}

#logged_in_bar #logged_in_links a {
  float: left;
  margin-right: 5px;
}

.view_html_prefix .view_html_download_link {
  left: 0;
}

#frontpage_splash #left_column {
  width: 50%;
}

#frontpage_splash #right_column {
  width: 50%;
  padding-right: 0px;
}

.front #wrapper {
  max-width: 100%;
  padding: 0px;
}

#banner .rsp_menu_button a.open {
  color: #fff;
  display: block;
  background: rgb(46, 204, 113);
  text-align: center;
  padding: 10px;
}


#frontpage_splash #right_column {
  padding-right: 30px;
}

#banner #banner_content {
  margin-bottom: 0px;
}

@media (max-width: 630px) {

  #footer {
    margin: 0;
  }
  #frontpage_splash #left_column {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  #frontpage_splash #right_column {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    #frontpage_search_box {
      text-align: center;
    }
  }

  #wrapper {
    padding: 15px
  }
}

