<% @title = "Credit where credit's due" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="credits"><%= @title%></h1>

  <dl>
    <dt id="thanks">What made FYI possible? <a href="#thanks">#</a> </dt>
    <dd>
    <ul>
      <li>Originally brought to life by the heroic <a href="http://twitter.com/wombleton">Rowan Crawford</a></li>
      <li>FYI.org.nz runs <a href="http://alaveteli.org">Alaveteli</a>, software created and released open-source by <a href="http://mysociety.org">MySociety</a>.
      <li><a href='http://nzherald.co.nz'>The New Zealand Herald</a> supports the hosting of FYI.org.nz</li>
    </ul>
    </dd>

    <dt id="helpus">Can I help out? <a href="#helpus">#</a> </dt>
    <dd>
    <p>Yes please! We're built out of our supporters and volunteers.</p>
    <ul>
      <li>Help people find successful requests, and monitor performance of authorities, by
      <a href="/categorise/play">playing the categorisation game</a>. </li>
      <li>Find out OIA email addresses of <a href="/help/requesting#missing_body">authorities that we're missing</a>.</li>
      <li>Write a blog post about either FYI or an interesting request that you've
      found. Post about it on a forum that you frequent. Tell friends about it.</li> <li>If you're
      a programmer, get the source code for our parent project, <a href="http://github.com/mysociety/alaveteli">Alaveteli</a>
      and tell us about patches we can pull. It's made in Ruby on Rails.
      <li>Get involved with the <a href="http://groups.open.org.nz/groups/ninja-talk">Open Government Ninjas</a>.
    </ul>
    </dd>
  </dl>

  <div id="hash_link_padding"></div>
</div>


